<div class="container-faq">

    <div class="char-header">
        <span class="char-header__label">{{'FAQ.LABEL' | translate }}</span>
        <h1 class="char-header__title" [innerHTML]="'FAQ.TITLE' | translate"></h1>
        <p class="char-header__sub">{{'FAQ.SUBTITLE' | translate }}</p>
    </div>

    <div class="row padding-general-architect">
     
        <div class="row g-0 mb-5">
            <div class="col-6">
                <input class="form-control faq-form" id="exampleDataList" [placeholder]="'FAQ.SEARCH' | translate">
            </div>
            <div class="col-6 d-flex align-items-center">
                <span class="text-search-result ms-2">{{"FAQ.SEARCH_RESULT" | translate}}</span>
            </div>
        </div>

        <div class="row g-0 mb-5">
            <div class="col-4">
                <div class="text-faq-index mb-3 border-dim">
                    {{"FAQ.INDEX.TITLE" | translate}}
                </div>
                <div class="w-75 accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                {{"FAQ.INDEX.REALESE_DATE.TITLE" | translate}} 
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    @for (item of sectionRealeseDate; track item.id) {
                                      <li class="accordion-list-faq" 
                                      [class.active.faq]="activeSection === item.id" 
                                      (click)="scrollToSection(item.id)">
                                        {{item.label | translate}}
                                      </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                {{"FAQ.INDEX.PLATFORM.TITLE" | translate}} 
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    @for (item of sectionPlatform; track item.id) {
                                      <li class="accordion-list-faq" 
                                      [class.active.faq]="activeSection === item.id" 
                                      (click)="scrollToSection(item.id)">
                                        {{item.label | translate}}
                                      </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                {{"FAQ.INDEX.MAP_AND_WORLD.TITLE" | translate}} 
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    @for (item of sectionMapAndWorld; track item.id) {
                                      <li class="accordion-list-faq" 
                                      [class.active.faq]="activeSection === item.id" 
                                      (click)="scrollToSection(item.id)">
                                        {{item.label | translate}}
                                      </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                {{"FAQ.INDEX.CHARACTER.TITLE" | translate}} 
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    @for (item of sectionCharacter; track item.id) {
                                      <li class="accordion-list-faq" 
                                      [class.active.faq]="activeSection === item.id" 
                                      (click)="scrollToSection(item.id)">
                                        {{item.label | translate}}
                                      </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                {{"FAQ.INDEX.GAMEPLAY.TITLE" | translate}} 
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    @for (item of sectionGameplay; track item.id) {
                                      <li class="accordion-list-faq" 
                                      [class.active.faq]="activeSection === item.id" 
                                      (click)="scrollToSection(item.id)">
                                        {{item.label | translate}}
                                      </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                {{"FAQ.INDEX.TECNICAL_AND_PC.TITLE" | translate}} 
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    @for (item of sectionTecnicalAndPc; track item.id) {
                                      <li class="accordion-list-faq" 
                                      [class.active.faq]="activeSection === item.id" 
                                      (click)="scrollToSection(item.id)">
                                        {{item.label | translate}}
                                      </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                {{"FAQ.INDEX.HISTORY.TITLE" | translate}} 
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    @for (item of sectionHistory; track item.id) {
                                      <li class="accordion-list-faq" 
                                      [class.active.faq]="activeSection === item.id" 
                                      (click)="scrollToSection(item.id)">
                                        {{item.label | translate}}
                                      </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="container-faq-response">
                    <div class="content-section-response">
                        <div class="header-faq-response border-dim">
                            <div class="header-faq-response__header">
                                <span>{{"FAQ.INDEX.REALESE_DATE.TITLE" | translate}}</span>
                            </div>
                        </div>
                        @for (item of sectionRealeseDate; track item.id) {
                            <div class="body-faq-response">
                                <div class="body-faq-response__content">
                                    <div>
                                        <span class="me-4">{{item.id}}</span>
                                        <span>{{item.label | translate}}</span>
                                    </div>
                                    <span class="svg-plus-faq">
                                        <svg-icon src="assets/plus.svg"></svg-icon>
                                    </span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    

    </div>

</div>
