<div class="navbar">
  <a class="nav-logo" href="#">
    <div class="logo-badge">VI</div>
    <div class="logo-text">GTA<span>VI</span>.countdown</div>
  </a>
  <div class="nav-links">
    <a class="nav-link" [routerLink]="ROUTES_MAP.HOME">Inicio</a>
    <a class="nav-link" [routerLink]="ROUTES_MAP.NOTIFICIE">Noticias</a>
    <a class="nav-link" [routerLink]="ROUTES_MAP.MAP">Mapa</a>
    <a class="nav-link" [routerLink]="ROUTES_MAP.CHARACTERS">Personajes</a>
    <a class="nav-link" [routerLink]="ROUTES_MAP.FAQ">FAQ</a>
    <button class="nav-cta">Compartir</button>
  </div>
</div>
