<div class="navbar">
  <a class="nav-logo" href="#">
    <div class="logo-badge">VI</div>
    <div class="logo-text">GTA<span>VI</span>.countdown</div>
  </a>
  <div class="nav-links">
    <a class="nav-link" [routerLink]="ROUTES_MAP.HOME">{{"GTA_HEADER.HOME" | translate}}</a>
    <a class="nav-link" [routerLink]="ROUTES_MAP.NOTIFICIE">{{"GTA_HEADER.NOTICIES" | translate}}</a>
    <a class="nav-link" [routerLink]="ROUTES_MAP.MAP">{{"GTA_HEADER.MAP" | translate}}</a>
    <a class="nav-link" [routerLink]="ROUTES_MAP.CHARACTERS">{{"GTA_HEADER.CHARACTER" | translate}}</a>
    <a class="nav-link" [routerLink]="ROUTES_MAP.FAQ">{{"GTA_HEADER.FAQ" | translate}}</a>

    <div class="lang-menu" [class.lang-menu--open]="isLangOpen">
      <button class="nav-cta" (click)="toggleLangMenu()">
        {{ currentLang.toUpperCase() }}
        <span class="lang-chevron">&#9660;</span>
      </button>
      @if (isLangOpen) {
        <div class="lang-dropdown">
          @for (lang of languages; track lang.code) {
            <button
              class="lang-option"
              [class.lang-option--active]="currentLang === lang.code"
              (click)="selectLang(lang.code)">
              {{ lang.label }}
            </button>
          }
        </div>
      }
    </div>
  </div>
</div>
