<div class="container-map">
  <!-- Page Header -->
  <div class="news-header">
    <span class="news-header__label">&#9679; {{ 'MAP.LABEL' | translate }}</span>
    <h1 class="news-header__title">{{ 'MAP.TITLE' | translate }} <span>GTA VI</span></h1>
    <p class="news-header__sub">{{ 'MAP.SUBTITLE' | translate }}</p>
  </div>

  <div class="news-filters">
    @for (filter of filters; track filter) {
      <button
        class="filter-btn"
        [class.filter-btn--active]="activeFilter === filter"
        (click)="setFilter(filter)">
        {{ 'MAP.FILTERS.' + filter | translate }}
      </button>
    }
  </div>

  @if (visibleMap) {
    <div class="row">
      <div class="col-6">
        <div class="card card-body">
          <img class="img-world-map"
               [ngSrc]="visibleMap.img"
               width="700" height="400"
               [alt]="'MAP.FILTERS.' + visibleMap.filter | translate"
               priority
               sizes="(max-width: 576px) 100vw, 50vw">
        </div>
      </div>
      <div class="col-6">
        <div class="card card-body">
          <span class="card-tag-zone">{{ 'MAP.ITEMS.' + visibleMap.id + '.tagZone' | translate }}</span>
          <h3 class="card-title">{{ 'MAP.FILTERS.' + visibleMap.filter | translate }}</h3>
          <div class="card-tag mb-3">
            <span>{{ 'MAP.ITEMS.' + visibleMap.id + '.tagText' | translate }}</span>
          </div>
          <p class="card-description mb-3">
            {{ 'MAP.ITEMS.' + visibleMap.id + '.description' | translate }}
          </p>
          <div class="container-specification-maps">
            <div class="row g-0">
              <div class="col-6 table-specification"><span>{{ 'MAP.TYPE_LABEL' | translate }}</span></div>
              <div class="col-6 table-specification"><span>{{ 'MAP.ITEMS.' + visibleMap.id + '.type' | translate }}</span></div>
              <div class="col-6 table-specification"><span>{{ 'MAP.INSPIRATION_LABEL' | translate }}</span></div>
              <div class="col-6 table-specification"><span>{{ 'MAP.ITEMS.' + visibleMap.id + '.inspiration' | translate }}</span></div>
              <div class="col-6 table-specification"><span>{{ 'MAP.CONFIRMED_LABEL' | translate }}</span></div>
              <div class="col-6 table-specification"><span>{{ 'MAP.ITEMS.' + visibleMap.id + '.confirmed' | translate }}</span></div>
              <div class="col-6 table-specification"><span>{{ 'MAP.DENSITY_LABEL' | translate }}</span></div>
              <div class="col-6 table-specification"><span>{{ 'MAP.ITEMS.' + visibleMap.id + '.density' | translate }}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }

</div>
