<div class="container-map">
  <!-- Page Header -->
  <div class="news-header">
    <span class="news-header__label">&#9679; Últimas actualizaciones: Mapa Leonida</span>
    <h1 class="news-header__title">MAPA <span>GTA VI</span></h1>
    <p class="news-header__sub">Descubre las ubicaciones confirmadas, el tamaño del mapa y las teorías más detalladas de la comunidad sobre el regreso a Vice City.</p>
  </div>

   <div class="news-filters">
    @for (filter of filters; track filter) {
      <button
        class="filter-btn"
        [class.filter-btn--active]="activeFilter === filter.value"
        (click)="setFilter(filter.value)">
        {{ filter.label }}
      </button>
    }
  </div>

  <div class="row">
    @for (map of gridMapInstructionSections; track map.id) {
      <div class="col-6">
        <div class="card card-body">
          <img class="img-world-map" [ngSrc]="map.img" width="700" height="400" alt="Vice City">
        </div>
      </div>
      <div class="col-6">
        <div class="card card-body">
          <span class="card-tag-zone">{{map.tagZone}}</span>
          <h3 class="card-title">{{map.title}}</h3>
          <div class="card-tag mb-3">
            <span>{{map.tagText}}</span>
          </div>
          <p class="card-description mb-3">
            {{map.description}}
          </p>
          <div class="container-specification-maps">
            <div class="row g-0">
              <div class="col-6 table-specification">
                <span>
                  TIPO
                </span>
              </div>
              <div class="col-6 table-specification">
                <span>
                  {{map.mapDataZone.type}}
                </span>
              </div>
              <div class="col-6 table-specification">
                <span>
                  INSPIRACIÓN
                </span>
              </div>
              <div class="col-6 table-specification">
                <span>
                  {{map.mapDataZone.inspiration}}
                </span>
              </div>
              <div class="col-6 table-specification">
                <span>
                  CONFIRMADO
                </span>
              </div>
              <div class="col-6 table-specification">
                <span>
                  {{map.mapDataZone.confirmed}}
                </span>
              </div>
              <div class="col-6 table-specification">
                <span>
                  DENSIDAD NPC
                </span>
              </div>
              <div class="col-6 table-specification">
                <span>
                  {{map.mapDataZone.density}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>

</div>
